@(contactForm: Form[views.formData.ContactFormData])

@import helper._

@Main("New Contact") {
    <div class="container">
        <h1>New Contact</h1>
        @form(routes.Application.postContact(), 'class -> "form-horizontal") {
            <input type="hidden"
            name="@contactForm("id").name"
            id="@contactForm("id").id"
            value="@contactForm("id").value">

            <div class="form-group @if(contactForm("firstName").hasErrors) {has-error}">
                <label for="firstName" class="col-sm-2 control-label">First</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                    name="@contactForm("firstName").name"
                    id="@contactForm("firstName").id"
                    value="@contactForm("firstName").value"
                    placeholder="First Name">
                    <span class="help-block">@{
                        contactForm("firstName").error.map { error => error.message}
                    }</span>
                </div>
            </div>
            <div class="form-group @if(contactForm("lastName").hasErrors) {has-error}">
                <label for="lastName" class="col-sm-2 control-label">Last</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                    name="@contactForm("lastName").name"
                    id="@contactForm("lastName").id"
                    value="@contactForm("lastName").value"
                    placeholder="Last Name">
                    <span class="help-block">@{
                        contactForm("lastName").error.map { error => error.message}
                    }</span>
                </div>
            </div>
            <div class="form-group @if(contactForm("telephone").hasErrors) {has-error}">
                <label for="telephone" class="col-sm-2 control-label">Digits</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                    name="@contactForm("telephone").name"
                    id="@contactForm("telephone").id"
                    value="@contactForm("telephone").value"
                    placeholder="808-808-1234">
                    <span class="help-block">@{
                        contactForm("telephone").error.map { error => error.message}
                    }</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        }
    </div>
}